<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Micro:bit Configuration Interface</title>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 20px;
        }
        h1 {
            color: #007BFF;
        }
        .sensor-value {
            font-size: 1.5em;
            font-weight: bold;
            margin: 10px 0;
        }
        #data {
            font-size: 2em;
            font-weight: bold;
            color: #28a745;
            margin-top: 20px;
        }
        button, input, select {
            padding: 10px;
            font-size: 1em;
            margin-top: 10px;
        }
        .carte {
            padding: 10px;
            font-size: 1em;
            margin-top: 10px;
            border: thick double #32a1ce;
            width: 20%;
            float:left;
        }
    </style>
</head>
<body>
    <h1>Micro:bit - Configuration Programme</h1>
    <!-- {{ serial_ports }} -->
    <div class="carte" style="width: 50%;">
        <h2> Configuration settings </h2>
        <label for="SERIAL_PORT">Port COM : </label>
        <select name="ports_COM" id="SERIAL_PORT">
          {% for port in serial_ports %}
            <option value="{{ port.device }}">{{ port.name }} - {{ port.device }} - {{ port.description }}</option>
          {% endfor %}
        </select><br>
        <label for="BAUD_RATE">Vitesse connexion série : </label>
        <select name="BAUD_RATE" id="BAUD_RATE">
            <option value="4800">4800</option>
            <option value="9600">9600</option>
            <option value="19200">19200</option>
            <option value="38400">38400</option>
            <option value="57600">57600</option>
            <option value="115200" selected>115200</option>
            <option value="230400">230400</option>
        </select><br>
        <label for="cnx_auto" data-off="Off" data-on="On" >Connexion Automatique : </label>
        <input type="checkbox" id="cnx_auto" value="{{ cnx_auto }}"><br>
        <label for="groupe_radio">Groupe Radio Micro:Bit : </label>
        <input type="number" id="groupe_radio" min="1" max="255" value="{{ groupe_radio }}"><br>
        <button onclick="sendSettings()">Envoyer config générale "settings" </button>
    </div>

    <div class="carte">
        <h2> Thread connexion série </h2>
        <button onclick="lancerThread()"> Lancer connexion série </button>
        <!-- <button onclick="stopperThread()"> Stopper connexion série </button> -->
    </div>

    <div class="carte">
        <h2> Donnée reçue via série </h2>
        <div id="data">En attente...</div>
    </div>

    <div class="carte" style="width: 50%;">
        <h2> Configuration Parking </h2>
        
        <label for="Data_format">Format donnée Parking : </label>
        <input type="text" id="Data_format" placeholder="Parking" value="{{ Data_format }}"><br>
        ex : ParkingX:Y <br> avec X une lettre ou nombre 00 <br> et Y valeur de 0 à 3 places libres => Parking<br><br>
        <!-- letter = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P']<br>
        number = ['01', '02', '03', '04', '05', '06', '07', '08', '09', 10, 11, 12, 13, 14, 15, 16]<br>
        -->
        <label for="Liste_Parking">Vitesse connexion série : </label>
        <select name="Liste_Parking" id="Liste_Parking">
            <option value="letter" selected>Lettre (ex : ParkingA)</option>
            <option value="number">Nombre (ex : Parking01)</option>
        </select><br>
        <label for="Nb_Parking">Nombre de maquette parking (maxi 16) : </label>
        <input type="number" id="Nb_Parking" min="1" max="16" placeholder="16" value="{{ Nb_Parking }}"><br>
        <button onclick="sendParking()">Envoyer config "Parking" </button>
    
    </div>


    <script>
        function sendSettings() {
            const serial_port = document.getElementById("SERIAL_PORT").value;
            const baud_rate = document.getElementById("BAUD_RATE").value;
            const cnx_auto = document.getElementById("cnx_auto").checked;
            const groupe_radio = document.getElementById("groupe_radio").value;
            fetch("/api/config", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ serial_port: serial_port , BAUD_RATE : baud_rate, cnx_auto : cnx_auto, groupe_radio : groupe_radio })
            })
            .then(response => response.json())
            .catch(error => console.error("Erreur d'envoi :", error));
        }
        function sendParking() {
            Data_format = document.getElementById("Data_format").value;
            console.log(Data_format);
            if ( Data_format == "" ) { Data_format = "Parking"; }
            console.log(Data_format);
            const Liste_Parking = document.getElementById("Liste_Parking").value;
            Nb_Parking = document.getElementById("Nb_Parking").value;
            if ( Nb_Parking == "" ) { Nb_Parking = "16"; }
            fetch("/api/configParking", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ Data_format: Data_format , Liste_Parking : Liste_Parking, Nb_Parking : Nb_Parking })
            })
            .then(response => response.json())
            .catch(error => console.error("Erreur d'envoi :", error));
        }
        function sendCommandData(command) {
            fetch("/api/send", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ value: command })
            })
            .then(response => response.json())
            .then(data => alert("Commande envoyée : " + data.value))
            .catch(error => console.error("Erreur d'envoi :", error));
        }
        function lancerThread() { // lance la connexion série à la carte si pas fait automatiquement au lancement d'après config
            fetch('/api/thread')
                .then(response => response.json())
                .then(data => {})
                .catch(error => console.error("Erreur lors de la récupération des données :", error));
        }
        function stopperThread() { 
        // Stoppe la connexion série à la carte // TODO gérer une info/variable pour connaitre l'état
            fetch('/api/threadstop')
                .then(response => response.json())
                .then(data => {})
                .catch(error => console.error("Erreur lors de la récupération des données :", error));
        }
        document.getElementById("cnx_auto").checked = ('{{cnx_auto}}'=='True');

        const socket = io();

        // Mise à jour en temps réel des capteurs
        socket.on('update_data', function(data) {
            document.getElementById("data").innerText = data.valeur !== null ? data.valeur : "Pas de données";
        });
    </script>
</body>
</html>
